/* ====== Reset e Configurações Globais ====== */
* {
    padding: 0;
    margin: 0;
    align-items: center;
}

body {
    height: 95vh;
}

/* ====== Elementos Gerais ====== */
img {
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

img.bala {
    width: 80px;
    border: 3px solid black;
    cursor: default;
}

img#shotgun {
    max-height: 750px;
}

#fechado {
    cursor: default;
}

/* ====== Componentes e Barras ====== */
#descricao-item {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#barra-vida {
    background-color: black;
    height: 20px;
    width: 200px;
}

/* ====== Estrutura da Página ====== */
header {
    position: absolute;
    top: 0;
    width: 98vw;
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

#mesa {
    height: 95vh;
    width: 99%;
    display: flex;
}

/* ====== Estruturas de Layout ====== */
.parte-cima, .parte-baixo {
    width: 100%;
    display: flex;
    height: 100%;
}

#parte-direita, #parte-esquerda {
    display: grid;
    height: 100%;
    width: 50%;
}

/* ====== Componentes Específicos ====== */
.div {
    width: 100%;
    height: 100%;
    border: 3px solid black;
    justify-content: center;
    text-align: center;
    display: grid;
    align-items: center;
}

#cartucho {
    display: inline-grid;
    justify-content: center;
    border: 5px solid black;
}
